<!-- src/_includes/nav.liquid -->
<nav>
    <ul>
        {% for entry in nav.pages %}
        {% if hideExternal and entry.external %}
            <!-- Skip external links if hideExternal is true -->
        {% elsif entry.external %}
        <li title="{{ entry.name }}" class="link link--cv">
            <a href="{{ entry.url }}" target="_blank" rel="noopener noreferrer">{{ entry.name }}</a>
        </li>
        {% else %}
        <li title="{{ entry.name }}" class="link {% if page.url contains entry.url %}active{% endif %}">
            <a href="{{ entry.url }}">{{ entry.name }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</nav>