---
layout: project.liquid
---
<h1 class="work__title">{{ title }}</h1>

{% if featureImage %}
    <section class="work__feature-image">
        <img src="{{ featureImage }}" alt="{{ title }}">

        {% if imageCredit != blank %}
            <p class="image-credit">{{ imageCredit }}</p>
        {% endif %}
    </section>
{% endif %}

<section class="work__infos">
    {% if clientName and clientName != "" %}
        <div class="work__client_name">
            <span>Client</span>
            <p>{{ clientName }}</p>
        </div>
    {% endif %}

    {% if year %}
        <div class="work__year">
            <span>Year</span>
            <p>{{ year }}</p>
        </div>
    {% endif %}

    <div class="work__infos-footer">
        {% if category %}
            <div class="work__task">
                <span>Category</span>
                <p>{{ category }}</p>
            </div>
        {% endif %}

        {% if projectUrl %}
            <a class="work__see-live" href="{{ projectUrl }}" target="_blank" rel="noopener noreferrer">See live</a>
        {% endif %}
    </div>
</section>

<div class="content" data-scroll data-scroll-repeat="false">
    {{ content }}
    {% if video %}
        <video loop playsinline autoplay controls src="{{ video }}"></video>
    {% endif %}
</div>

{%- comment -%} CSS {%- endcomment -%}
{% if color %}
    <style>
        body{
            background-color: {{ color }};
            --accent-color: {{ color }};
        }
    </style>
{% endif %}
